# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.test_db.py
.test_connection.py

# Ambientes virtuais
.venv/
venv/
env/

# Ferramentas
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
