# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
tests/test_connection.py
tests/test_db.py

# Ambientes virtuais
.venv/
venv/
env/
.env

# Ferramentas
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
